body{
    background-image: url("./images/BG-IMG.png");
    background-size: cover;
}

.pong-header{
    color: rgb(255, 255, 255);
    font-size:250px;
    font-family: 'Wendy One', sans-serif;
    font-weight: 600;
    text-shadow: 5px 5px 2px rgb(255, 0, 0), 0 0 1em blue, 0 0 0.2em rgb(61, 241, 61);
    padding-top: 10%;
}

.btn{
    color: rgba(137, 43, 226, 0.616);
    box-shadow: 1px 1px 2px red, 0 0 1em blue;
}

.btn:hover{
    background-color: rgb(126, 0, 243);
    color: white;
}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
        text-shadow: 5px 5px 2px rgb(255, 0, 0), 0 0 1em blue, 0 0 0.2em rgb(61, 241, 61);
    }
    to {
        text-shadow: 5px 5px 2px rgb(0, 4, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    }
  }